<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sample Test Suite" verbose="5" parallel="tests" thread-count="5">
    <test name="Test1">
        <classes>
            <class name="test.java.TestingSelenium1" ></class>
            <class name="test.java.TestingSelenium2" ></class>
        </classes>
    </test>
</suite>